#<p style="color: black">_Projekt Big Data_</p>
<p style="color: grey">Bartosz Kalinka 217120 <br/> Paweł Kolak <br/> Dawid Heller 218489 <br/> Śr 9:15</p>

## Zbiór danych
<p>
Informacje o zbiorze danych:
<ul>
<li style = "color: red">opis (cel analizy),</li>
  <li>Plik .csv pochodzi ze strony "http://eforexcel.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/". <br/>
  Baza składa się dokładnie z 50 000 krotek (wierszy).</li>
  <li>Plik został zaimporotwany w zakładce "Data". Po wygenerowaniu tabeli, zostraje on przypisana do zmiennej "raw_data"</li>
  <li><table>
      <tr>
        <th>Name</th>
        <td>Region</td> 
        <td>Country</td>
        <td>Item Type</td>
        <td>Sales Channel</td>
        <td>Order Priority</td>
        <td>Order Date</td>
        <td>Order ID</td>
        <td>Ship Date</td>
        <td>Units Sold</td>
        <td>Unit Price</td>
        <td>Unit Cost</td>
        <td>Total Revenue</td>
        <td>Total Cost</td>
        <td>Total Profit</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>String</td>
        <td>Integer</td>
        <td>Double</td>
        <td>Double</td>
        <td>Double</td>
        <td>Double</td>
        <td>Double</td>
      </tr>
    </table>
  </li>
</ul>
</p>

In [3]:
local_file_path = '/FileStore/tables/sales_records.csv'
raw_data_test = sc.textFile(local_file_path)

## Analiza danych

### _Zadanie 1 (Import danych)_

#### Załadowanie danych do RDD

In [7]:
local_file_path = '/FileStore/tables/sales_records.csv'
raw_data = sc.textFile(local_file_path)

#### Załadowanie danych do DataFrame (moduł Apache Spark SQL)

In [9]:
from pyspark.sql.types import *

csv_data_rdd = raw_data.map(lambda row: row.split(','))

data_df = spark.createDataFrame(csv_data_rdd,('Region','Country','ItemType','SalesChannel','OrderPriority','OrderDate','OrderID','ShipDate','UnitsSold','UnitPrice','UnitCost','TotalRevenue','TotalCost','TotalProfit'))

data_df = data_df.withColumn("UnitsSold", data_df['UnitsSold'].cast(IntegerType()))
data_df = data_df.withColumn("UnitPrice", data_df['UnitPrice'].cast(DoubleType()))
data_df = data_df.withColumn("UnitCost", data_df['UnitCost'].cast(DoubleType()))
data_df = data_df.withColumn("TotalRevenue", data_df['TotalRevenue'].cast(DoubleType()))
data_df = data_df.withColumn("TotalCost", data_df['TotalCost'].cast(DoubleType()))
data_df = data_df.withColumn("TotalProfit", data_df['TotalProfit'].cast(DoubleType()))

data_df.printSchema()
# Show rows
data_df.show()

### _Zadanie 2 (Agregacja)_
<p style="color: red">Sekcja opisująca 2 hipotezy które chcemy zwalidować za pomocą danych.

Na podstawie ramki RDD i DSL DataFrame należy wykonać funkcje agregującą dane (dwie różne, nie trywialne) i opisać uzyskane wyniki.</p>

In [11]:
# agregacja danych z wykorzystaniem RDD
print(csv_data_rdd.count()) #liczba wszystkich rekordów

normal_raw_data_rdd2 = csv_data_rdd.filter(lambda row: 'Europe' in row)

print(normal_raw_data_rdd2.count()) #liczba rekrodów, po filtrowaniu (Dane z Europy)
print(normal_raw_data_rdd2.take(1)) #pierwsyz rekord, po filtrowaniu

In [12]:
# agregacja danych z wykorzystaniem DSL Apache Spark SQL (DataFrame)
df = data_df
df_Europe = df.filter(df["Region"] == "Europe")

df_Europe.count()
df_Europe.show()

df.groupBy("Order Priority").count().show()

_<p style="color: red">Opis wyników uzyskanych w obu przypadkach</p>_

### _Zadanie 3 (SQL)_
<p style="color: red">Sekcja opisująca hipotezę którą chcemy zwalidować za pomocą danych (podobnie jak punkt wyżej). Obiekt DataFrame należy zapisać jako tabela w pamięci, wykonać zapytanie SQL w komórce i **zwizualizować wynik**.</p>

In [15]:
# kod tutaj
# ...

_<p style="color: red">Opis uzyskanych wyników</p>_

### _Zadanie 4 (UDF)_
<p style="color: red">Sekcja opisująca hipotezę którą chcemy zwalidować za pomocą danych. Należy utworzyć i wywołać własną funkcję UDF odpowiednio transformującą daną kolumnę, zaprezentować i opisać rezultat.</p>

In [18]:
# kod tutaj
# ...

_<p style="color: red">Opis uzyskanych wyników</p>_

### _Zadanie 5 (MLlib)_
<p style="color: red">Należy wywołać dowolny algorytm (klasyfikacja, regresja, rekomendacja) z pakietu MLlib w celu przeprowadzenia analizy predyktywnej na istniejących danych.</p>

In [21]:
# podział na zbiory testowe/treningowe
# deklaracja alogrytmu
# zadeklarowana siatka parametrów dla testowania krzyżowego
# obliczenie metryk dla zbioru testowego

# kod tutaj
# ...

_<p style="color: red">Opis uzyskanych wyników</p>_

## Podsumowanie
_<p style="color: red">Krótki wnioski z przeprowadzonej analizy.</p>_

### Dystrybucja notatnika
1. Wyeksportować notatnik do formatu `IPython Notebook`
2. Utworzyć archiwum ZIP zawierająca ww. notatnik i plik z użytymi danymi
3. Archiwum powinno być zawierać numery indeksów autorów projektu (np. `XXX_YYY.zip`)
4. Archiwum należy wysłać pod adres `norbert.kozlowski@pwr.edu.pl`.